* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

html{
    scroll-behavior: smooth;

}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0)
}

/*MENU*/
.HEADER {
    background-color: rgb(0, 0, 0);
    padding-top: 10px;
    height: 100px;
    
}

.menu {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    margin-left: 15px;
    font-weight: bolder;
}

.menu > .menu1 >  ul {
    padding: 0;
    list-style: none;
    gap: 20px 70px;
    margin-right: 15px;
}
.listmenu{
    display: inline-flex;
}
.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 23px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    transition: 1.1s;
}

.menu a:hover {
    color: rgb(255, 174, 0);
    font-size: 30px !important;
}




/* MEDIA Q MENU*/
@media screen and (max-width:480px) {
    .HEADER{
        height: 100px;
        align-content: center;
    }
    .menu{
        flex-direction: column;
        justify-content: center;
    }
    .menu > .menu1 >  ul {
        padding-left: 34.3px;
        list-style: none;
        gap: 25px;
        margin-right: 15px;
    }
    .listmenu{
        display: flex;
        flex-direction: row;
    }
    .menu a{
        font-size: 19px !important;
    }
}

.contato {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 900px;
}
.contato > .box{
    width: 600px;
    height: 700px;
    background-color: rgb(168, 131, 75);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 26px 26px 26px 26px;
}

.contato h2, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 20px;
    padding-top: 90px;
    color: white;
}
.contato h2{
    font-size: 40px;
}
.contato p{
    font-size: 25px;
}



/*FOOTER!!*/

.footer {
    height: 150px;
    width: 100%;
    background-color: rgb(17, 17, 17);
    margin-top: 210px;
    
}

.footer footer {
    align-items: center;
}

.footer h2 {
    text-align: center;
    padding-top: 50px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;

}

.footer p {
    text-align: center;
    padding: 1px;
    font-size: 13px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer a{
    position: relative;
    left: 90%;
    top: -30%;
}

.i:hover{
    color: #ff964e;
}